{{extend 'estrutura/layout.html'}} {{block center}}
<br>
<div class="modal fade" id="modalWindows">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dispositivos Windows</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Ip</th>
                                <th>Mac</th>
                                <th>Fabricante</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for item in windows_disp:}}
                            <tr>
                                <td>{{=item['ip']}}</td>
                                <td>{{=item['mac']}}</td>
                                <td>{{=item['nomeFabricante']}}</td>
                            </tr>{{pass}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalLinux">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dispositivos Linux</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Ip</th>
                                <th>Mac</th>
                                <th>Fabricante</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for item in linux_disp:}}
                            <tr>
                                <td>{{=item['ip']}}</td>
                                <td>{{=item['mac']}}</td>
                                <td>{{=item['nomeFabricante']}}</td>
                            </tr>{{pass}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalOutros">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Outros Dispositivos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Ip</th>
                                <th>Mac</th>
                                <th>Fabricante</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for item in outros_disp:}}
                            <tr>
                                <td>{{=item['ip']}}</td>
                                <td>{{=item['mac']}}</td>
                                <td>{{=item['nomeFabricante']}}</td>
                            </tr>{{pass}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalPortas">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Portas Abertas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Dispositivo</th>
                                <th>Mac</th>
                                <th>Qtde Portas</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for item in disp:}}{{if item['qtdPortas'] > 0:}}
                            <tr>
                                <td>{{=item['ip']}}</td>
                                <td>{{=item['mac']}}</td>
                                <td>{{=item['qtdPortas']}}</td>
                            </tr>{{else:}}{{pass}}{{pass}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dashboard
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{{=URL(a='tcc', c='control', f='dash')}}">Dashboard</a>
                </li>
                <li class="active"></li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-windows fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{=count_windows}}</div>
                        <div>Windows</div>
                    </div>
                </div>
            </div>
            <a href="#" onclick="openModal(1)">
                <div class="panel-footer">
                    <span class="pull-left">Ver Detalhes</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-linux fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{=count_linux}}</div>
                        <div>Linux</div>
                    </div>
                </div>
            </div>
            <a href="#" onclick="openModal(2)">
                <div class="panel-footer">
                    <span class="pull-left">Ver Detalhes</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-android fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{=count_outros}}</div>
                        <div>Outros Dispositivos</div>
                    </div>
                </div>
            </div>
            <a href="#" onclick="openModal(3)">
                <div class="panel-footer">
                    <span class="pull-left">Ver Detalhes</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-warning fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{=count_portas}}</div>
                        <div>Portas Abertas</div>
                    </div>
                </div>
            </div>
            <a href="#" onclick="openModal(4)">
                <div class="panel-footer">
                    <span class="pull-left">Ver Detalhes</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<br>
<br>

<br><br><br>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <h2>Informação da Rede</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th>Meu IP</th>
                                <td>{{=ips}}</td>
                            </tr>
                            <tr>
                                <th>Ip do Gateway</th>
                                <td>{{=gatewayIp}}</td>
                            </tr>
                            <tr>
                                <th>IP Externo</th>
                                <td>{{=ip_externo[3]}}</td>
                            </tr>
                            <tr>
                                <th>Quantidade Host</th>
                                <td><span id="qtde_host">{{=count_disp}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <h2>Serviços comuns associados as principais portas utilizadas</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Serviço/Porta</th>
                                <th>Hosts</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>FTP/21</td>
                                <td>1265</td>
                            </tr>
                            <tr>
                                <td>SSH/22</td>
                                <td>261</td>
                            </tr>
                            <tr>
                                <td>Telnet/23</td>
                                <td>665</td>
                            </tr>
                            <tr>
                                <td>SMTP/25</td>
                                <td>9516</td>
                            </tr>
                            <tr>
                                <td>DNS/53</td>
                                <td>23</td>
                            </tr>
                            <tr>
                                <td>HTTP/80</td>
                                <td>421</td>
                            </tr>
                            <tr>
                                <td>RPC/111</td>
                                <td>1233</td>
                            </tr>
                            <tr>
                                <td>NetBIOS/137</td>
                                <td>1233</td>
                            </tr>
                            <tr>
                                <td>HTTPS/443</td>
                                <td>1233</td>
                            </tr>
                            <tr>
                                <td>SMB/445</td>
                                <td>1233</td>
                            </tr>
                            <tr>
                                <td>SIP/5060</td>
                                <td>1233</td>
                            </tr>
                            <tr>
                                <td>MySQL/3306</td>
                                <td>1233</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>


{{end}} {{block javascript}}

<script>
    function openModal(tipo) {
        if (tipo == 1) {
            $("#modalWindows").modal("show");
            return;
        }

        if (tipo == 2) {
            $("#modalLinux").modal("show");
            return;
        }

        if (tipo == 3) {
            $("#modalOutros").modal("show");
            return;
        }

        else {
            $("#modalPortas").modal("show");
            return;
        }
    }

</script>

{{end}}