{{extend 'estrutura/layout.html'}} {{block center}}
<br>
<div class="modal fade" id="modalWindows">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dispositivos Windows</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>IP</th>
                                <th>MAC</th>
                                <th>Fabricante</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for item in windows_disp:}}
                            <tr>
                                <td>{{=item['ip']}}</td>
                                <td>{{=item['mac']}}</td>
                                <td>{{=item['nomeFabricante']}}</td>
                            </tr>{{pass}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalLinux">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dispositivos Linux</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>IP</th>
                                <th>MAC</th>
                                <th>Fabricante</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for item in linux_disp:}}
                            <tr>
                                <td>{{=item['ip']}}</td>
                                <td>{{=item['mac']}}</td>
                                <td>{{=item['nomeFabricante']}}</td>
                            </tr>{{pass}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalOutros">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Outros Dispositivos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>IP</th>
                                <th>MAC</th>
                                <th>Fabricante</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for item in outros_disp:}}
                            <tr>
                                <td>{{=item['ip']}}</td>
                                <td>{{=item['mac']}}</td>
                                <td>{{=item['nomeFabricante']}}</td>
                            </tr>{{pass}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalPortas">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Portas Abertas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Dispositivo</th>
                                <th>MAC</th>
                                <th>Quantidade de Portas</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for item in disp:}}{{if item['qtdPortas'] > 0:}}
                            <tr>
                                <td>{{=item['ip']}}</td>
                                <td>{{=item['mac']}}</td>
                                <td>{{=item['qtdPortas']}}</td>
                            </tr>{{else:}}{{pass}}{{pass}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dashboard
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{{=URL(a='tcc', c='control', f='dash')}}">Dashboard</a>
                </li>
                <li class="active"></li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-windows fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{=count_windows}}</div>
                        <div>Windows</div>
                    </div>
                </div>
            </div>
            <a href="#" onclick="openModal(1)">
                <div class="panel-footer">
                    <span class="pull-left">Ver Detalhes</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-linux fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{=count_linux}}</div>
                        <div>Linux</div>
                    </div>
                </div>
            </div>
            <a href="#" onclick="openModal(2)">
                <div class="panel-footer">
                    <span class="pull-left">Ver Detalhes</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-android fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{=count_outros}}</div>
                        <div>Outros Dispositivos</div>
                    </div>
                </div>
            </div>
            <a href="#" onclick="openModal(3)">
                <div class="panel-footer">
                    <span class="pull-left">Ver Detalhes</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-warning fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{=count_portas}}</div>
                        <div>Portas Abertas</div>
                    </div>
                </div>
            </div>
            <a href="#" onclick="openModal(4)">
                <div class="panel-footer">
                    <span class="pull-left">Ver Detalhes</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<br>
<br>

<br><br><br>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <h2>Informação da Rede</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th>Meu IP</th>
                                <td>{{=ips}}</td>
                            </tr>
                            <tr>
                                <th>Gateway</th>
                                <td>{{=gatewayIp}}</td>
                            </tr>
                            <tr>
                                <th>IP Externo</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Quantidade Host</th>
                                <td><span id="qtde_host">{{=count_disp}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Quantidade de hosts</h3>
                    </div>
                    <div class="panel-body">
                        <div class="flot-chart">
                            <canvas id="pie-chart" width="800" height="450"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h2>Serviços comuns associados as principais portas utilizadas</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Serviço/Porta</th>
                                <th>Hosts</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>FTP/21</td>
                                <td id="porta21">caregando...</td>
                            </tr>
                            <tr>
                                <td>SSH/22</td>
                                <td id="porta22">caregando...</td>
                            </tr>
                            <tr>
                                <td>Telnet/23</td>
                                <td id="porta23">caregando...</td>
                            </tr>
                            <tr>
                                <td>SMTP/25</td>
                                <td id="porta25">caregando...</td>
                            </tr>
                            <tr>
                                <td>DNS/53</td>
                                <td id="porta53">caregando...</td>
                            </tr>
                            <tr>
                                <td>HTTP/80</td>
                                <td id="porta80">caregando...</td>
                            </tr>
                            <tr>
                                <td>RPC/111</td>
                                <td id="porta111">caregando...</td>
                            </tr>
                            <tr>
                                <td>NetBIOS/137</td>
                                <td id="porta137">caregando...</td>
                            </tr>
                            <tr>
                                <td>HTTPS/443</td>
                                <td id="porta443">caregando...</td>
                            </tr>
                            <tr>
                                <td>SMB/445</td>
                                <td id="porta445">caregando...</td>
                            </tr>
                            <tr>
                                <td>SIP/5060</td>
                                <td id="porta5060">caregando...</td>
                            </tr>
                            <tr>
                                <td>MySQL/3306</td>
                                <td id="porta3306">caregando...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<script src="../static/js/jquery.js"></script>
<script src="{{=URL(a='tcc', c='static' ,f='js')}}/chart.js"></script>


{{end}} {{block javascript}}


<script>
    function openModal(tipo) {
        if (tipo == 1) {
            $("#modalWindows").modal("show");
            return;
        }

        if (tipo == 2) {
            $("#modalLinux").modal("show");
            return;
        }

        if (tipo == 3) {
            $("#modalOutros").modal("show");
            return;
        }

        else {
            $("#modalPortas").modal("show");
            return;
        }
    }

    new Chart(document.getElementById("pie-chart"), {
        type: 'pie',
        data: {
            labels: ["Windows", "Linux", "Outros"],
            datasets: [{
                label: "Quantidade",
                backgroundColor: ["#446CB3", "#26A65B", "#F89406"],
                data: ['{{=count_windows}}', '{{=count_linux}}', '{{=count_outros}}']
            }]
        },
        options: {
            title: {
                display: false,
                text: ''
            }
        }
    });


    $.get(urlPorta(21), function (data) {
        if (data) {
            $("#porta21").text(data);
            $.get(urlPorta(22), function (data) {
                if (data) {
                    $("#porta22").text(data);
                    $.get(urlPorta(23), function (data) {
                        if (data) {
                            $("#porta23").text(data);
                            $.get(urlPorta(25), function (data) {
                                if (data) {
                                    $("#porta25").text(data);
                                    $.get(urlPorta(53), function (data) {
                                        if (data) {
                                            $("#porta53").text(data);
                                            $.get(urlPorta(80), function (data) {
                                                if (data) {
                                                    $("#porta80").text(data);
                                                    $.get(urlPorta(111), function (data) {
                                                        if (data) {
                                                            $("#porta111").text(data);
                                                            $.get(urlPorta(137), function (data) {
                                                                if (data) {
                                                                    $("#porta137").text(data);
                                                                    $.get(urlPorta(443), function (data) {
                                                                        if (data) {
                                                                            $("#porta443").text(data);
                                                                            $.get(urlPorta(445), function (data) {
                                                                                if (data) {
                                                                                    $("#porta445").text(data);
                                                                                    $.get(urlPorta(5060), function (data) {
                                                                                        if (data) {
                                                                                            $("#porta5060").text(data);
                                                                                            $.get(urlPorta(3306), function (data) {
                                                                                                if (data) {
                                                                                                    $("#porta3306").text(data);
                                                                                                }
                                                                                            });
                                                                                        }
                                                                                    });
                                                                                }
                                                                            });
                                                                        }
                                                                    });
                                                                }
                                                            });
                                                        }
                                                    });
                                                }
                                            });
                                        }
                                    });
                                }
                            });
                        }
                    });
                }
            });
        }
    });

    function urlPorta(porta) {
        return "{{=URL(a='tcc', c='control', f='GetQtdPortasAbertas')}}" + '?porta=' + porta
    }

</script>

{{end}}