{{extend 'estrutura/layout.html'}} {{block center}}
<style>
    html,
    body {
        height: 100%;
    }

    #wrap {
        min-height: 100%;
    }

    #main {
        overflow: auto;
        padding-bottom: 150px;
        /* this needs to be bigger than footer height*/
    }

    .footer {
        position: relative;
        margin-top: 300px;
        /* negative value of footer height */
        height: 150px;
        clear: both;
        padding-top: 20px;
    }
</style>
<br>
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Relatório
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{{=URL(a='tcc', c='control', f='dash')}}">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Relatório
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<br>
<br>

<form class="form-inline">
    <div class="form-group">
        <label>Data</label>
        <input class="form-control" id="txtData">
    </div>
    <div class="form-group">
        <label>Ip</label>
        <input class="form-control" id="txtIp">
    </div>
    <button type="button" class="btn btn-default" onclick="buscar()">Buscar</button>
</form>
<br>
<div class="row" id="divDados">
</div>

<footer class="footer"></footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.pt-BR.min.js"></script>

{{end}} {{block javascript}}
<script>
    function buscar() {
        var data = $("#txtData").val();
        var ip = $("#txtIp").val();
        $.get("{{=URL(a='tcc', c='control', f='buscaScans')}}" + '?data='+ data +'&ip=' + ip , function (data) {
            if (data) {
                $("#divDados").slideUp('200', function (){
                    $("#divDados").html(data);
                    $("#divDados").slideDown('200');
                });
            }
        });
    }

    // $('#txtBusca').datepicker({
    // 	format: 'dd/mm/yyyy',
    // 	language: 'pt-BR',
    // 	weekStart: 0,
    // 	startDate:'0d',
    // 	todayHighlight: true
    // });

</script>
{{end}}