{{extend 'estrutura/layout.html'}}

{{block center}}
<br>
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Relatórios
                <small>Subheading</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{{=URL(a='tcc', c='control', f='dash')}}">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Relatórios
                </li>
            </ol>
        </div>
    </div><!-- /.row -->
</div><!-- /.container-fluid -->

<br>
<br>

{{end}}