{{extend 'estrutura/layout.html'}}

{{block center}}
<br>
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div id="alerta1">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Olá!</strong> Escolha um scan para ser executado.
            </div>
        </div>

        <div class="col-lg-12">
            <h1 class="page-header">
                Scans
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{{=URL(a='tcc', c='control', f='dash')}}">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> Scan
                </li>
            </ol>
        </div>
    </div><!-- /.row -->
</div><!-- /.container-fluid -->

<div id="page-wrapper">

    <div class="container-fluid">
        <div class="page-header">
            <h2>Scan Roteador</h2>
        </div>
        <p>
            <button type="button" class="btn btn-lg btn-primary" onclick = "javascript:teste()">Iniciar!</button>
        </p>
        <div class="page-header">
            <h2>Scan Rede</h2>
        </div>
        <p>
            <button type="button" class="btn btn-lg btn-primary" onclick = "javascript:teste()">Iniciar!</button>
        </p>
    </div>
    <!-- /.container-fluid -->
</div>

<br>
<br>

{{end}}
{{block javascript}}

<script>


function teste(){
    $("#alerta1").html('');
    $('#alerta1').html(
            '<div class="alert alert-warning">' +
            '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
            '<strong>Quase lá!</strong> Aguarde enquanto o scan é realizado.' +
            '</div>');

    $.get("{{=URL(a='tcc', c='control', f='script_scan')}}", function( data ) {
        console.log(data);
        if (data == false){
            $("#alerta1").html("");
            $("#alerta1").html(
                    '<div class="alert alert-danger">' +
                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                    '<strong>Ops!</strong> Erros foram encontrados. Verifique sua conexão.' +
                    '</div>');
        }
        else{
            $("#alerta1").html("");
            $("#alerta1").html(" " +
                    '<div class="alert alert-success">' +
                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                    '<strong>Pronto!</strong> Seu scan foi realizado com sucesso. Verifique o resultado.' +
                    '</div>');
        }
    });

    $.get("{{=URL(a='tcc', c='control', f='hydra')}}", function( data ) {
            console.log(data);
        if (data == false){
            $("#alerta1").html("");
            $("#alerta1").html(
                    '<div class="alert alert-danger">' +
                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                    '<strong>Ops!</strong> Erros foram encontrados. Verifique sua conexão.' +
                    '</div>');
        }
        else{
            $("#alerta1").html("");
            $("#alerta1").html(" " +
                    '<div class="alert alert-success">' +
                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                    '<strong>Pronto!</strong> Seu scan foi realizado com sucesso. Verifique o resultado.' +
                    '</div>');
        }
    });
}
</script>
{{end}}