{{extend 'estrutura/layout.html'}}

{{block center}}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div id="alerta1">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Olá!</strong> Escolha um scan para ser executado.
            </div>
        </div>
        <div class="col-lg-12">
            <h1 class="page-header">
                Scans
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{{=URL(a='tcc', c='control', f='dash')}}">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-bar-chart-o"></i> Scan
                </li>
            </ol>
        </div>
    </div><!-- /.row -->
</div><!-- /.container-fluid -->

<div id="page-wrapper">

    <div class="container-fluid">
        <div class="page-header">
            <h2>Scan Roteador</h2>
        </div>
        <div class="well">
            <p>
                Uma das técnicas mais antigas de tentativas de invasão de um sistema é o de ataque de força bruta,
                vulgo <b>brute force</b>. Todo sistema de acesso restrito é acessível através do conjunto nome de usuário(login)/
                senha(password), e um ataque de força bruta significa tentar adivinhar o conjunto por meio de tentativa e erro.

                <br><br>Considerando que muitos dispositivos a senha padrão(default) não é alterada por administradores,
                tornando então o equipamento de certa forma inseguro.<br><br>

                Esta análise irá checar se seu roteador utiliza de uma senha padrão, ou seja, uma senha fraca.
                Ex: <b>admin</b>, <b>123456</b>, <b>root</b> e etc.
            </p>
        </div>

        <div id="alerta1">
            <div class="alert alert-danger" id="senhaFraca" style="display: none">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Resultado:</strong> <br><br>Identificamos que você está utilizando uma senha fraca no roteador.<br><br>
                <strong>Risco: </strong> Hackers podem conectar no roteador e modificar as configurações da sua rede,
                coletar dados e até restringir seu acesso à internet.<br><br>
                <strong>Solução:</strong> Altere a senha nas configurações do roteador.
            </div>

            <div class="alert alert-success" id="senhaForte" style="display: none">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Resultado:</strong> <br><br>Não foi identificado senha fraca.
                </div>
        </div>


        <p>
            <button type="button" class="btn btn-lg btn-primary" id="btnBf" onclick = "bruteForce()">Iniciar</button>
        </p>
        <br><br>
        <div class="page-header">
            <h2>Scan Rede</h2>
        </div>
        <div class="well">
            <p>
                Scanners são programas de varredura utilizados para detectar possíveis vulnerabilidades em sistemas. Em
                outras palavras, eles são programas que procuram por certas falhas de segurança que podem permitir ataques
                e até mesmo invasões.<br><br>

                Com o intuito da ferramenta ter um comportamento proativo, identificando falhas e brechas antes mesmo
                de serem exploradas por atacantes, disponibilizamos este scan que irá varrer a rede em busca de possíveis
                vulnerabilidades em dispositivos que ali estão conectados.
            </p>
        </div>
        <p>
            <button type="button" class="btn btn-lg btn-primary" onclick = "javascript:testee()">Iniciar</button>
        </p>
    </div>
    <!-- /.container-fluid -->
</div>

<br>
<br>

{{end}}
{{block javascript}}

<script>


function bruteForce(){
    $("#btnBf").attr("disabled", true);
    $("#btnBf").text("executando...");
    $.get("{{=URL(a='tcc', c='control', f='hydra')}}", function( data ) {
        if (data == "True"){
            $("#btnBf").removeAttr("disabled");
            $("#btnBf").text("Iniciar");
            $("#senhaFraca").slideDown(200);
        }
        else{
            $("#btnBf").removeAttr("disabled");
            $("#btnBf").text("Iniciar");
            $("#senhaForte").slideDown(200);
        }
    });
}

function testee(){
    $("#alerta1").html('');
    $('#alerta1').html(
            '<div class="alert alert-warning">' +
            '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
            '<strong>Quase lá!</strong> Aguarde enquanto o scan é realizado.' +
            '</div>');

    $.get("{{=URL(a='tcc', c='control', f='script_scan')}}", function( data ) {
        console.log(data);
        if (data == false){
            $("#alerta1").html("");
            $("#alerta1").html(
                    '<div class="alert alert-danger">' +
                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                    '<strong>Ops!</strong> Erros foram encontrados. Verifique sua conexão.' +
                    '</div>');
        }
        else{
            $("#alerta1").html("");
            $("#alerta1").html(" " +
                    '<div class="alert alert-success">' +
                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                    '<strong>Pronto!</strong> Seu scan foi realizado com sucesso. Verifique o resultado.' +
                    '</div>');
        }
    });
}

</script>
{{end}}